{% extends 'ecommerce_app/basic.html' %} {% load static %}


<!-- Carousel  -->
{% block body %}

<div class="fluid-container">
  {% for product in All_products %}
  <h2 class="ms-5 mt-4 pb-1 mb-1">Flash Sale | {{product.0.category|upper}}</h2>
  <div id="carouselExampleDark{{forloop.counter}}" class="carousel carousel-dark slide py-3" data-bs-ride="carousel">
    <div class="fluid-container mx-5">
      <div class="carousel-inner py-4 px-4 shadow p-3 mb-5" style="background-color: #f4f1f1; border-radius: 0.8em">
        <div class="carousel-item active">
          <div class="d-flex align-items-stretch justify-content-center">
            {% for i in product %}
            <div class="card mx-2 px-2 py-2" style="
                width: 18rem;
                background-color: #d8d8d8;
                border-radius: 0.5em;
              ">
              <div class="card-body d-flex align-items-center flex-column justify-content-between">
                <img src="/media/{{i.images}}"="card-img-top" alt="{{i.product_prod_names}}" style="width: 90%" />
                <h5 class="card-title" id="nameprod{{i.id}}">{{i.product_name}}</h5>
                <p class="card-text text-center">{{i.desc}}</p>
                <p class="card-text text-center h4">Best Offer: <span style="color:#aa1010;"
                    id="priceprod{{i.id}}">&#8377;{{i.price}}</span></p>
                <div class="fluid-container">
                  <span id="divprod{{i.id}}" class="divprod">
                    <a class="btn btn-light mx-2 cart" id="prod{{i.id}}">Add to Cart</a>
                  </span>
                  <a href="/shop/products/{{i.id}}" class="btn btn-primary">Check Out</a>
                </div>
              </div>
            </div>
            {% if forloop.counter|divisibleby:4 and forloop.counter > 0 and not forloop.last %}
          </div>
        </div>
        <div class="carousel-item">
          <div class="d-flex align-items-stretch justify-content-center">
            {% endif %}
            {% endfor %}
          </div>
        </div>
      </div>

      <button class="carousel-control-prev ms-5" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next me-5" type="button" data-bs-target="#carouselExampleDark{{forloop.counter}}"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}


{% block js %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

<script>

  if (localStorage.getItem('cart') == null) {
    var cart = {}
  }
  else {
    cart = JSON.parse(localStorage.getItem('cart'));
    $("#cart").html(Object.keys(cart).reduce((acc, value) => acc + cart[value][0], 0));
    updateCart(cart);
  }



  $(".cart").click(function () {
    var id = this.id.toString()
    console.log(id)
    if (cart[id] != undefined) {
      cart[id][0] = cart[id][0] + 1
      price = document.getElementById("price" + id).innerHTML.slice(1,)
      cart[id][1] = price * cart[id][0]
    }
    else {
      prod_name = document.getElementById("name" + id).innerHTML
      price = document.getElementById("price" + id).innerHTML.slice(1,)
      cart[id] = [1, price, prod_name]
    }
    localStorage.setItem('cart', JSON.stringify(cart));
    updateCart(cart);
  })



  function updateCart(cart, price) {
    for (var item in cart) {
      document.getElementById("div" + item).innerHTML = "<button id='minus" + item + "' class='btn btn-secondary minus'>-</button> <span id='val" + item + "' class='mx-3'>" + cart[item][0] + "</span> <button id='plus" + item + "' class='btn btn-secondary plus'> + </button>"
      price = document.getElementById("price" + item).innerHTML.slice(1,) * cart[item][0]
      cart[item][1] = price
      $("#cart").html(Object.keys(cart).reduce((acc, value) => acc + cart[value][0], 0))
    }

    localStorage.setItem('cart', JSON.stringify(cart));
    localStorage.setItem('price', JSON.stringify(price));
    $("#cart").html(Object.keys(cart).reduce((acc, value) => acc + cart[value][0], 0))
    updatePopover(cart);
  }

  function updatePopover(cart) {
    let cart_list = "<h4> Your Cart </h4> <div class='flex align-items-center justify-content-center flex-column'>"
    var i = 1
    for (var item in cart) {
      x = document.getElementById("price" + item).innerHTML.slice(1,) * cart[item][0]
      cart_list = cart_list + "<hr><div class='fluid-container'> <h5 class='h5'>" + i + ".  " + document.getElementById("name" + item).innerHTML + "</h5>" + "<h6 >Qty: " + cart[item][0] + "&nbsp;&nbsp;&nbsp;&#8377;" + x + "</h6></div>";
      i = i + 1
    }
    cart_list = cart_list + "</div>";

    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
      return new bootstrap.Popover(popoverTriggerEl, { content: cart_list, sanitize: false, trigger: 'hover', container: "body" })
    })
  }

  $('.divprod').on("click", "button.minus", function () {
    a = this.id.slice(5,);
    cart[a][0] = cart[a][0] - 1
    cart[a][0] = Math.max(0, cart[a][0])
    document.getElementById('val' + a).innerHTML = cart[a][0];
    if (cart[a][0] === 0) {
      delete cart[a]
      localStorage.setItem('cart', JSON.stringify(cart))
    }
    updateCart(cart);
  });


  $('.divprod').on("click", "button.plus", function () {
    a = this.id.slice(4,);
    cart[a][0] = cart[a][0] + 1
    document.getElementById('val' + a).innerHTML = cart[a][0];
    updateCart(cart);
  })

</script>
{% endblock %}